@use '../../elements/buttons/buttons';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
    border-top: 1px solid rgba(var(--white-rgb), 0.12);
    border-bottom: 1px solid rgba(var(--white-rgb), 0.12);
    max-height: 100px;

    .logo{
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;

        &__image {
            max-height: 64px;
        }

        &__text {
            font-size: 1.5rem;
            font-weight: bold;
            font-family: var(--font-headings);
            color: var(--secondary-color);

            span {
                color: var(--primary-color); 
            }
        }
    }


}