.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 3rem 10rem;
    color: var(--white);

    &__tittle {
        font-family: var(--font-headings);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2.5rem;

        .features__item {
            padding: 2.5rem;
            border-radius: 16px;
            background-color: var(--background-color-light);
            font-family: var(--font-secondary);
        }
    }
}

@media (max-width: 768px) {
    .features {
        padding: 3rem 5%;
    }
}