:root {
    --font-headings: 'Cinzel', serif;
    --font-secondary: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-tertiary: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}


